.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.white-tile {
    background-color: #EEEED2;
}

.black-tile {
    background-color: #a24857;
}

.selected-tile {
    background-color: yellow !important;
}